<div class="wrapper">

    <h2>Choose players to be sold</h2>

    <div class="container">
        <div class="row">
            <div class="col col-lg-3 player-row" ng-repeat="player in myClub.players">
                <div class="row">
                    <div class="col col-lg-12">
                        <img src="{{  player.photo  }}" alt="{{ player.name }}" ng-click="showPlayerDetails(player)">
                    </div>
                </div>
                <table class="table table-hover">
                    <tr>
                        <td>Name:</td>
                        <td class="text"><strong>{{ player.name | shortenFirstName }}</strong></td>
                    </tr>
                    <tr>
                        <td class="title">Age: </td>
                        <td class="text">{{ player.age }}</td>
                    </tr> 
                    <tr>
                        <td class="title">Height: </td>
                        <td class="text">{{ player.height }}</td>
                    </tr>     
                    <tr>
                        <td class="title">Position:</td>
                        <td class="text">{{ player.position }}</td>
                    </tr>
                    <tr>
                        <td class="title">Value:</td>
                        <td class="text">{{ player.price | currency:"€":0 }}</td>
                    </tr>
                </table>
    
                <button class="btn btn-danger" ng-click="sellPlayer(player)">Sell this player</button>
            </div>
        </div>
    </div>
</div>
