<div class="container control-panel">
	<table class="table table-bordered table-hover">
	    <thead>
	      <tr>
	        <th>Start Budget</th>
	        <th>
						<span>
							Transfers In
						</span>
						<img width="30px" src="https://www.wpclipart.com/signs_symbol/arrows/curved_arrow/arrow_curved_green_right.png" alt="Buy">
					</th>
	        <th>
						<span>
							Transfers Out
						</span>
						<img width="30px" src="https://www.wpclipart.com/signs_symbol/arrows/curved_arrow/arrow_curved_red_right.png" alt="Sell">
					</th>
	        <th>Balance</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>{{ startBudget | currency:"€":0 }}</td>
	        <td>{{ transferIn | currency:"€":0 }}</td>
	        <td>{{ transferOut | currency:"€":0 }}</td>
	        <td>{{ balance | currency:"€":0 }}</td>
	      </tr>
	    </tbody>
	</table>
</div>
