<div class="container">
	<table class="table table-bordered table-hover">
	    <thead>
	      <tr>
	        <th>Start Budget</th>
	        <th>Transfers In</th>
	        <th>Transfers Out</th>
	        <th>Balance</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>{{ startBudget | currency:"€":0 }}</td>
	        <td>{{ transferIn | currency:"€":0 }}</td>
	        <td>{{ transferOut | currency:"€":0 }}</td>
	        <td>{{ balance | currency:"€":0 }}</td>
	      </tr>
	    </tbody>
	</table>
</div>
