<aside class="sidebar">
    <ul ng-repeat="club in clubs">
      <li>
        <a href="#!/sidebar" class="btn btn-info" 
        ng-click="selectClub(club)">{{ club.clubName }}</a>
      </li>
    </ul>
</aside>

<div class="container" ng-if="isClubSelected">
	<div class="row">
		<div class="col col-lg-12">
			<h2>{{ clubInfo.clubName }}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-2">
			<img src="{{  clubInfo.logo  }}" alt="{{ clubInfo.clubName }}">
		</div>

		<div class="col col-lg-4">
			<table class="table">
				<tr>
					<td class="title">Founded: </td>
					<td class="text">{{ clubInfo.founded }}</td>
				</tr>
				<tr>
					<td class="title">Country:</td>
					<td class="text">{{ clubInfo.country }}</td>
				</tr>
				<tr>
					<td class="title">Stadium: </td>
					<td class="text">{{ clubInfo.stadium }}</td>
				</tr> 
				<tr>
					<td class="title">Capacity: </td>
					<td class="text">{{ clubInfo.capacity }}</td>
				</tr>     
			</table>		
		</div>
	</div>

	<div class="row">
			<div class="col col-lg-3" ng-repeat="player in clubInfo.players">
				<div class="row">
					<div class="col col-lg-12">
						<img src="{{  player.photo  }}" alt="{{ player.name }}">
					</div>
				</div>
				<table class="table table-hover">
					<tr>
						<td>Name:</td>
						<td class="text"><strong>{{ player.name | shortenFirstName }}</strong></td>
					</tr>
					<tr>
						<td class="title">Age: </td>
						<td class="text">{{ player.age }}</td>
					</tr> 
					<tr>
						<td class="title">Height: </td>
						<td class="text">{{ player.height }}</td>
					</tr>     
					<tr>
						<td class="title">Position:</td>
						<td class="text">{{ player.position }}</td>
					</tr>
				</table>	
			</div>
	</div>
</div>
