<div class="wrapper">
    <div ng-if="!isTeamChosen">
        <h4>You still did not choose your team!</h4>
    </div>
    <div class="container" ng-if="isTeamChosen">
        <div class="row">
            <div class="col col-lg-12">
                <h2>{{ myClub.clubName }}</h2>
            </div>
        </div>
        <div class="row"> 
            <div class="col col-lg-6">
                <div class="row">
                    <div class="col col-lg-4">
                        <img src="{{  myClub.logo  }}" alt="{{ myClub.clubName }}">
                    </div>
                    <div class="col col-lg-8">
                        <table class="table">
                            <tr>
                                <td class="title">Founded: </td>
                                <td class="text">{{ myClub.founded }}</td>
                            </tr>
                            <tr>
                                <td class="title">Country:</td>
                                <td class="text">{{ myClub.country }}</td>
                            </tr>
                            <tr>
                                <td class="title">Budget: </td>
                                <td class="text">{{ myClub.budget | currency:"€":0 }}</td>
                            </tr> 
                            <tr>
                                <td class="title">Capacity: </td>
                                <td class="text">{{ myClub.capacity }}</td>
                            </tr>     
                        </table>		
                    </div>
                </div>	
            </div>
            <div class="col col-lg-6">
                <div class="row">
                    <div class="col col-lg-6">
                        <img class="img-stadium" src="{{  myClub.stadiumPic  }}" alt="{{ myClub.stadium }}">
                    </div>
                    <div class="col col-lg-6">
                        <table class="table">
                            <tr>
                                <td class="title">Stadium: </td>
                                <td class="text">{{ myClub.stadium }}</td>
                            </tr> 
                            <tr>
                                <td class="title">Capacity: </td>
                                <td class="text">{{ myClub.capacity }}</td>
                            </tr>
                            <tr>
                                <td class="title">Attendance: </td>
                                <td class="text">{{ myClub.attendance }}</td>
                            </tr>
                            <tr>
                                <td class="title">Ticket Price:</td>
                                <td class="text">{{ myClub.ticketPrice | currency:"€":0 }}</td>
                            </tr>     
                        </table>		
                    </div>
                </div>	
            </div>
        </div>

        <div class="row">
            <div class="col col-lg-6">
                <a href="#!/buying">
                    <img width="30%" src="https://www.wpclipart.com/signs_symbol/arrows/curved_arrow/arrow_curved_green_right.png" alt="Buy">
                </a>
                <h5>Buy Players</h5>
            </div>
            <div class="col col-lg-6">
                <a href="#!/selling">
                    <img width="30%" src="https://www.wpclipart.com/signs_symbol/arrows/curved_arrow/arrow_curved_red_right.png" alt="Sell">
                </a>
                <h5>Sell Players</h5>
            </div>
        </div>

        <div class="row">
            <div class="col col-lg-3 player-row" ng-repeat="player in myClub.players">
                <div class="row">
                    <div class="col col-lg-12">
                        <img src="{{  player.photo  }}" alt="{{ player.name }}" ng-click="showPlayerDetails(player)">
                    </div>
                </div>
                <h6>{{ player.name | shortenFirstName }}</h6>
			    <button class="btn btn-primary" ng-click="showDetails()">View details</button>

                <div class="container" ng-if="detailsShown">
                    <table class="table table-hover">
                        <tr>
                            <td class="title">Age: </td>
                            <td class="text">{{ player.age }}</td>
                        </tr> 
                        <tr>
                            <td class="title">Height: </td>
                            <td class="text">{{ player.height }}</td>
                        </tr>     
                        <tr>
                            <td class="title">Position:</td>
                            <td class="text">{{ player.position }}</td>
                        </tr>
                        <tr>
                            <td class="title">Value:</td>
                            <td class="text">{{ player.price | currency:"€":0 }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
