<div class="nav-wrapper">
    <nav class="navbar nav-tabs navbar-light">
        <div class="container-fluid">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#!/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/start">Starting Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/teams">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/view1">view1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/view2">view2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/sidebar">Sidebar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/team">My Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/control">Control</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
